.dog-container {
    width: 70%;
}

.dog-container h2 {
    font-size: 40px;
}

.dog-container img {
    border-radius: 15px;
    max-height: 85%;
    max-width: 100%;
}

.dog-container h1 {
    font-size: 44px;
}

@media (max-width: 1350px) {
    .dog-container {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .tablet-margin {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .dog-container {
        width: 80%;
    }
    
    .dog-container h2 {
        font-size: 20px;
    }

    .dog-container h1 {
        font-size: 22px;
    }

    .dog-container p {
        font-size: 16px;
    }

    .phone-margin {
        margin-top: 30px;
    }

}

@media (max-width: 600px) {

    .tablet-margin {
        margin-bottom: 10px;
    }

    
    .dog-container img {
        min-height: 200px;
    }

    .phone-margin {
        margin-top: 20px;
    }
}