:root {
    --primary-color: #000000;
    --secondary-color: #191919;
    --branding-color: #FEFC8F;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url('../images/cute-puppies.jpg');
  
    /* Set a specific height */
    height: 70%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.puppies-container img {
    display: block;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
}

.top-container {
    margin-bottom: 100px;
    width: 65%;
}

.top-container h2 {
    font-size: 44px;
}

.next-shipment-container {
    background-color: var(--secondary-color);
}

.next-container {
    width: 60%;
}

a {
    text-decoration: none;
    color: white;
}

.new-container h2 {
    margin: 30px auto;
    font-family: var(--default-font-family);
}

.new-container p {
    margin: 30px auto;
    color: white;
}

a:hover {
    color: #FEFC8F;
}

.next-container h2 {
    font-size: 40px;
    line-height: 1.7;
    font-weight: normal;
    font-family: var(--default-font-family);
}

.new-container img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
}

.another-container {
    width: 60%;
}

.reservation-container {
    width: 50%;
    text-align: center;
}

.reservation-container h3 {
    font-size: 36px;
    color: white;
    line-height: 1.7;
}

.reservation-container .contact-button {
    background: rgb(235,235,116);
    color: white;
    padding: 10px;
}

@media (max-width: 1000px) {
    .puppies-container img {
        display: block;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30%;
    }
}

@media (max-width: 768px) {
    body .hero-image {
      
        /* Set a specific height */
        height: 50%;
    }

    .next-container {
        width: 85%;
    }

    .next-container h2 {
        font-size: 30px;
    }

    .another-container {
        width: 75%;
    }
    
    .reservation-container {
        width: 75%;
    }
}

@media (max-width: 600px) {
    body .hero-image {
      
        /* Set a specific height */
        height: 30%;
    }

    .top-container {
        width: 90%;
        margin-bottom: 40px;
    }

    .top-container h2 {
        font-size: 20px;
    }

    .top-container h3 {
        font-size: 18px;
    }

    .puppies-container img {
        display: block;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30%;
    }

    .puppies-container h1 {
        line-height: 1.7;
        font-size: 22px;
    }

    .puppies-container h3 {
        font-size: 18px;
    }

    .new-container img {
        max-width: 100%;
    }

    .next-container h2 {
        font-size: 20px;
    }

    .new-container p {
        font-size: 16px;
    }

    .next-container p {
        font-size: 16px;
    }

    .next-container {
        width: 90%;
    }

    .another-container p {
        font-size: 16px;
    }

    .another-container {
        width: 90%;
    }
    
    .reservation-container h3 {
        font-size: 18px;
    }
}
