:root {
    --primary-color: #000000;
    --secondary-color: #191919;
    --branding-color: #FEFC8F;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body, html {
    height: 100%;
}

body {
    font-family: var(--default-font-family);
    background: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

p {
    font-weight: normal;
}

body .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url('../images/homepage-1.jpeg');
  
    /* Set a specific height */
    height: 70%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.hero-text h1 {
    font-size: 44px;
    color: white; 
}

.hero-text h4 {
    color: white;
    font-family: var(--default-font-family);
    font-weight: normal; 
}
  
  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.victory-container {
    background: var(--secondary-color);
    padding: 50px;
}

.victory-container p {
    font-size: 24px;
}

.victory-img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.branding {
    color: var(--branding-color);
}

.mission-container {
    background-color: var(--primary-color);
    width: 75%;
}

.contact-container {
    background-color: var(--secondary-color);
}

.contact-container p {
    font-size: 24px;
}

.contact-container h2 {
    font-size: 44px;
}

.email-link {
    text-decoration: none; 
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@media (max-width: 960px) {

    body .hero-image {
        height: 55%;
      }
    
    .hero-text h1 {
        font-size: 26px; 
    }
    
    .hero-text h4 {
        font-size: 14px;
    }
      
      /* Place text in the middle of the image */
    .hero-text {
        top: 70%;
        left: 75%;
    }

    
}
