.dog-container {
    width: 70%;
}

.dog-container h2 {
    font-size: 40px;
}

.dog-container img {
    border-radius: 15px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dog-container h1 {
    font-size: 44px;
}

@media (max-width: 768px) {
    .dog-container img {
        border-radius: 15px;
        max-height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .phone-margin {
        margin-top: 0px;
    }

    .dog-container {
        width: 80%;
    }
    
    .dog-container h2 {
        font-size: 20px;
    }

    .dog-container h3 {
        font-size: 18px;
    }

    .dog-container h1 {
        font-size: 22px;
    }

    .dog-container p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .phone-margin {
        margin-top: 20px;
    }

    .mb-lg-5 {
        margin-bottom: 20px;
    }

    .mb-sm-5 {
        margin-bottom: 15px;
    }
}