:root {
    --primary-color: #000000;
    --secondary-color: #191919;
    --branding-color: #FEFC8F;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

.transport-container {
    width: 80%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FEFC8F;
}

.transport-container .contact-button {
    background: rgb(235,235,116);
    color: white;
    padding: 10px;
}

.img-container {
    width: 50%;
}

img {
    border-radius: 20px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    img {
        min-width: 200px;
    }

    .img-container {
        width: 90%;
    }

    .transport-container h1 {
        font-size: 22px;
    }

    .transport-container p {
        font-size: 12px;
    }
}